html, body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: Arial;
    font-size: 14px;
    background-image: url(images/1920_1080.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

#container {
	min-height:100%;
	position:relative;
}

.floatright {
	float: right;
}
.floatleft {
	float: left;
}
.clearleft {
	clear: left;
}
.clearright {
	clear: right;
}
.clearboth {
	clear: both;
}

#wrapper {
	margin: 15px auto 15px auto;
    width: 999px;
}

div#header {
    height: 90px;
    width: 100%;
	background-color: rgb(34,76,111);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.02, rgb(8,47,79)),color-stop(0.51, rgb(34,76,111)));
	background-image: -moz-linear-gradient(center bottom,rgb(8,47,79) 2%,rgb(34,76,111) 51%);
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
}


div#header h1#logo {
	margin: 28px 0 0 30px;
	float: left;
	font-family: Helvetica;
	font-weight: normal;
	letter-spacing: -2px;
	color: #fff;
	font-size: 34px;
	cursor: pointer;
	text-decoration: none;
	padding: 0;
	text-shadow: 0px 0px 5px #000;
}

div#header h1#logo span {
	color: #0A9ECE;
}

div#header a {
	text-decoration: none !important;
}

div#header div#headerinfo {
	float: right;
	margin: 15px 0px 0 0;
	background-color: #fff;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	
	padding: 10px 15px;
	font-size: 11px;
}

div#navigation {
	height: 40px;
	width: 100%;
	background-color: rgb(8,47,79);
    border-bottom: 1px solid #000;
}

	div#navigation ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		float: right;
	}
	
	div#navigation ul li {
		float: left;
		display: inline;
	}
	
		div#navigation ul li a {
			text-decoration: none;
			color: #8BFB23;
			line-height: 30px;
			padding:5px 15px;
			display: block;	
		}
		
		div#navigation ul li#active {
			background-color: rgba(0, 0, 0, 0.1);
			line-height: 17px;
		}
		
		div#navigation ul li:hover {
			background-color: rgba(0, 0, 0, 0.3) !important;
			line-height: 17px;
		}
		

div#content {
	background-color: rgba(255, 255, 255, 0.8);
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	padding: 15px;
}

div#content p {
	margin: 0;
	padding: 0;
}

div#content div.sidebox {
	width: 200px;
	float: right;
}

p.breadcrumb {
	font-size: 10px;
	margin-bottom: 15px !important;
}

p.breadcrumb a {
	color: #000;
	text-decoration: none;
}

div#trenner {
	padding: 15px 15px 150px 15px; /*150px = footer */
}


div#footer {
    height: 150px;
    width: 100%;
   	background-color: rgb(34,76,111);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.02, rgb(8,47,79)),color-stop(0.51, rgb(34,76,111)));
	background-image: -moz-linear-gradient(center bottom,rgb(8,47,79) 2%,rgb(34,76,111) 51%);
    font-size: 80%;
    border-top: 1px solid #000;
    position:absolute;
	bottom:0;
		
}

div#footer div#footerwrapper {
	width: 999px;
	margin-left: auto;
	margin-right: auto;
}

	div#footer div.footerbox {
		width: 313px;
		color: #fff;
		float: left;
		margin-left: 15px;
		margin-top: 25px;
	}
	
	div#footer div.footerbox p a {
		color: #fff;
		border-bottom: 1px dotted #fff;
		text-decoration: none;
	}
	
	div#footer div.footerbox p a:hover {
		color: #fff;
		border-bottom: 1px dotted #8BFB23;
		text-decoration: none;
	}
	
	div#footer div.footerbox p {
		margin: 0;
		padding: 0;
	}
	
	div#footer div.footerbox ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		font-size: 13px;
		line-height: 19px;
	}
	
	div#footer div.footerbox ul li a {
		text-decoration: none;
		color: #fff;
	}
	
	div#footer div.footerbox ul li a:hover {
		text-decoration: none;
		border-bottom: 1px dotted #8BFB23;
	}
	
	div#footer div.footerbox ul li.headline {
		font-weight: bold;
		margin-bottom: 5px;
	}
	
	div#footer div.lastbox {
		margin-right: 15px !important;
	}