#schedule {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    min-width: 550px;
}

#schedule tr {
    clear: both;
}
#schedule td {
    border: 1px solid transparent;
}

#schedule .lesson-number {
    text-align: right;
    font-weight: bold;
}

#schedule .lesson {
    cursor: text;
    padding-right: 20px;
}
#schedule .lesson:hover {
    border: 1px solid #CCCCCC;
    -moz-border-radius: 5px;
    border-radius: 5px;
}