.wysihtml5 {
    margin: 0px;
    padding: 0px;
}

.wysihtml5-toolbar {
    width: 100px;
    padding: 3px;
    margin-bottom: 8px;
    border-radius: 4px;
    background: #eee;
    text-align: center;
    background-image: linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
    background-image: -o-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}

.wysihtml5-command {
    border: 1px solid #CCCCCC;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 3px;
}
.wysihtml5-command:hover {
    border: 1px solid darkgrey;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wysihtml5-command img {
    width: 18px;
    height: 18px;
}

[data-wysihtml5-command],
[data-wysihtml5-action] {
    list-style: none;
    font-size: 12px;
    display: inline-block;
    cursor: pointer;
    width: 32px;
}

[data-wysihtml5-command]:hover,
[data-wysihtml5-action]:hover {
    background-image: linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
    background-image: -o-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
}

.wysihtml5-command-active {
    background-image: linear-gradient(bottom, #AAA 0%, rgb(255,255,255) 100%);
    background-image: -o-linear-gradient(bottom, #AAA 0%, rgb(255,255,255) 100%);
    background-image: -moz-linear-gradient(bottom, #AAA 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient(bottom, #AAA 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient(bottom, #AAA 0%, rgb(255,255,255) 100%);
}