* {
    font-family: Arial, sans-serif;
    font-size: 10pt;
}

hr {
    background-color: black;
    height: 1px;
    border: none;
}

div.clearleft {
    clear:left;
}

.aligncenter {
    text-align: center;
}


/* overview.ctp */

img#ihk-logo {
    float:left;
    width: 100px;
}
h1#ihk-name {
    font-weight: lighter;
    font-size: 60px;
}

table.overview-table {
    line-height: 6px;
}

table.overview-table tr td {
    border-bottom: 1px solid #666;
}

table.overview-table tr td.no-border {
    border-bottom: none;
}

ul.list-border-bottom {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.list-border-bottom li {
    border-bottom: 1px solid black;
    /*line-height: 26px;*/
}


/* activityList.ctp */

table.activityList {
    line-height: 6px;
    border: 1;
}

table tr td.no-lineheight {
    line-height: normal;
}