#schedule {
    
}

#schedule tr {
    clear: both;
}
#schedule td {
    border: 1px solid transparent;
}

#schedule .lesson {
    cursor: text;
}
#schedule .lesson:hover {
    border: 1px solid red;
}

#schedule .lesson-subject {
    float: left;
}

#schedule .lesson-delete {
    height: 16px;
    width: 16px;
    float: right;
    cursor: pointer;
}